a,
a:focus,
a:hover {
    text-decoration: none
}

.confirmacionPagoAccion,
.cuadrosDisponibles,
.cuadrosDisponibles li,
.md-menu-p .nav-item,
.md-text-center {
    text-align: center
}

#calendarCons .clndr-controls .clndr-next-button.inactive,
#calendarCons .clndr-controls .clndr-previous-button.inactive,
#full-clndr .clndr-controls .clndr-next-button:hover,
#full-clndr .clndr-controls .clndr-previous-button:hover {
    opacity: .5
}

#calendarCons .clndr-controls .clndr-next-button,
#calendarCons .clndr-controls .clndr-previous-button,
.noselect {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none
}

a {
    color: #5d7d83
}

a:focus,
a:hover {
    color: #4d666b
}

a:focus {
    outline: -webkit-focus-ring-color auto 5px;
    outline-offset: -2px
}

.btn-link,
.page-link {
    color: #5d7d83
}

.btn-primary.active.focus,
.btn-primary.active:focus,
.btn-primary.active:hover,
.btn-primary.focus,
.btn-primary:active.focus,
.btn-primary:active:focus,
.btn-primary:active:hover,
.btn-primary:focus,
.btn-primary:hover,
.open>.btn-primary.dropdown-toggle.focus,
.open>.btn-primary.dropdown-toggle:focus,
.open>.btn-primary.dropdown-toggle:hover {
    color: #666;
    background-color: #E6F3F7;
    border-color: #E6F3F7
}

.btn-primary {
    color: #666;
    background-color: #c6e4ec;
    border-color: #c6e4ec
}

.btn-primary.active,
.btn-primary:active,
.open>.btn-primary.dropdown-toggle {
    color: #666;
    background-color: #E6F3F7;
    border-color: #E6F3F7;
    background-image: none
}

.btn-primary.disabled.focus,
.btn-primary.disabled:focus,
.btn-primary.disabled:hover,
.btn-primary:disabled.focus,
.btn-primary:disabled:focus,
.btn-primary:disabled:hover {
    background-color: #E6F3F7;
    border-color: #E6F3F7
}

.tag-primary {
    background-color: #c6e4ec
}

.tag-primary[href]:focus,
.tag-primary[href]:hover {
    background-color: #E6F3F7
}

a.bg-primary:focus,
a.bg-primary:hover {
    background-color: #E6F3F7!important
}

a.text-primary:focus,
a.text-primary:hover {
    color: #E6F3F7!important
}

.card-primary {
    background-color: #c6e4ec;
    border-color: #c6e4ec
}

.card-primary .card-footer,
.card-primary .card-header {
    background-color: transparent
}

.header-navbar .navbar-header {
    height: 6rem!important
}

.main-menu.menu-fixed {
    position: fixed;
    padding-top: 6rem;
    height: calc(100% - 4rem);
    top: 0
}

.main-menu-content {
    margin-top: -10px;
    box-shadow: 2px 8px 4px rgba(0, 0, 0, .1)!important
}

.md-bg-light,
.menu-box-shadow {
    box-shadow: 2px 2px 4px rgba(0, 0, 0, .08)
}

body.vertical-layout.vertical-menu.menu-expanded .main-menu .main-menu-footer {
    width: 240px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, .08)
}

.md-bg-light {
    background: #fff!important
}

.md-bg-trans {
    background: 0 0!important;
    box-shadow: none!important
}

.md-bg-blue {
    background-color: #c6e4ec!important
}

.md-bg-blue-light {
    background-color: #C6E4EC!important
}

.md-bg-blue-dark {
    background-color: #384664!important
}

.md-bg-blue-sky {
    background-color: #aebfe3!important
}

.md-bg-red {
    background-color: #ed253b!important
}

.md-bg-red-dark {
    background-color: #9F2439!important
}

.md-bg-gray {
    background-color: #858B8B!important
}

.md-bg-gray-light {
    background-color: #e7e7e8!important
}

.main-menu.menu-dark .navigation.md-menu-p>li .active,
.main-menu.menu-dark .navigation.md-menu-p>li .active .hover>a,
.main-menu.menu-dark .navigation.md-menu-p>li.open>a,
.main-menu.menu-dark .navigation.md-menu-p>li.open>ul {
    background: inherit!important
}

.md-bg-blue-dark a,
.md-bg-blue-sky a,
.md-bg-red a,
.md-bg-red-dark a {
    color: #fff!important
}

.md-bg-blue a,
.md-bg-blue-light a,
.md-bg-gray a {
    color: #666!important
}

.main-menu.menu-light .navigation>li.nav-item.open.md-bg-blue-dark a,
.main-menu.menu-light .navigation>li.nav-item.open.md-bg-blue-sky a,
.main-menu.menu-light .navigation>li.nav-item.open.md-bg-red a,
.main-menu.menu-light .navigation>li.nav-item.open.md-bg-red-dark a,
.nav-item.md-bg-blue-dark a,
.nav-item.md-bg-blue-sky a,
.nav-item.md-bg-red a,
.nav-item.md-bg-red-dark a {
    color: #fff!important
}

.md-color-blue {
    color: #c6e4ec!important
}

.md-color-blue-light {
    color: #C6E4EC!important
}

.md-color-blue-dark {
    color: #384664!important
}

.md-color-blue-sky {
    color: #aebfe3!important
}

.md-color-red {
    color: #ed253b!important
}

.md-color-red-dark {
    color: #9F2439!important
}

.md-color-gray {
    color: #858B8B!important
}

.md-color-gray-light,
.md-color-gray:hover {
    color: #e7e7e8!important
}

.md-menu-p .nav-item {
    padding: 1rem 0!important
}

.main-menu.menu-dark .navigation.md-menu-p>li.open>a {
    color: inherit!important
}

.main-menu.menu-dark .navigation.md-menu-p>li.hover>a,
.main-menu.menu-dark .navigation.md-menu-p>li:hover>a,
.main-menu.menu-dark .navigation>li.active>a {
    color: inherit!important;
    background-color: inherit!important
}

.main-menu.menu-dark .navigation.md-menu-p>li.active>a,
.main-menu.menu-dark .navigation.md-menu-p>li.hover>a.mm-next,
.main-menu.menu-dark .navigation.md-menu-p>li:hover>a.mm-next,
.main-menu.menu-dark .navigation>li.active>a.mm-next {
    background-color: inherit!important
}

.main-menu.menu-dark .navigation.md-menu-p>li .active>a {
    color: inherit!important;
    background: inherit!important
}

.main-menu.menu-light .navigation>li>a {
    padding: 1rem;
    text-transform: uppercase
}

.main-menu.menu-light .navigation>li.active>a,
.main-menu.menu-light .navigation>li.hover>a,
.main-menu.menu-light .navigation>li.open .hover>a,
.main-menu.menu-light .navigation>li:hover>a {
    color: inherit;
    text-decoration: underline!important;
    background-color: inherit
}

.main-menu.menu-light .navigation>li.active>a>span,
.main-menu.menu-light .navigation>li.hover>a>span,
.main-menu.menu-light .navigation>li:hover>a>span {
    text-decoration: underline!important
}

.main-menu.menu-light .navigation>li.active.md-bg-blue,
.main-menu.menu-light .navigation>li.hover.md-bg-blue,
.main-menu.menu-light .navigation>li.md-bg-blue:hover {
    background-color: #E6F3F7!important
}

.main-menu.menu-light .navigation>li.active.md-bg-red,
.main-menu.menu-light .navigation>li.hover.md-bg-red,
.main-menu.menu-light .navigation>li.md-bg-red:hover {
    background-color: #F05161!important
}

.main-menu.menu-light .navigation>li.active.md-bg-gray-light,
.main-menu.menu-light .navigation>li.hover.md-bg-gray-light,
.main-menu.menu-light .navigation>li.md-bg-gray-light:hover {
    background-color: #f8f8f8!important
}

.main-menu.menu-light .navigation>li.active.md-bg-blue-sky,
.main-menu.menu-light .navigation>li.hover.md-bg-blue-sky,
.main-menu.menu-light .navigation>li.md-bg-blue-sky:hover {
    background-color: #CBD6ED!important
}

.main-menu.menu-light .navigation>li.open>a {
    text-transform: uppercase;
    color: inherit!important;
    background: inherit!important
}

.main-menu.menu-light .navigation>li.open .hover>a,
.main-menu.menu-light .navigation>li.open>ul {
    background: inherit!important
}

@media (max-width:992px) {
    .menu-rrss {
        display: none
    }
}

.m-15 {
    margin-right: 14px;
    margin-left: 14px
}

.dropdown-toggle::after {
    top:-12px;right: 7px;
}

body.vertical-layout.vertical-menu.menu-collapsed .main-menu .menu-rrss {
    display: none
}

.header-navbar .navbar-header {
    width: 150px
}

.header-navbar .navbar-header .navbar-brand img {
    width: 100%
}

@media (min-width:1367px) {
    .header-navbar .navbar-header .navbar-brand {
        padding: 1rem 5px
    }
    .header-navbar .navbar-container ul.nav li>a.nav-link.btn-perfil {
        padding: 1.9rem 1.7rem 2.1rem!important
    }
}

.vertical-overlay-menu .content {
    margin-left: 0;
    margin-top: 2rem
}

.c-list li {
    position: relative
}

.c-list li a:after {
    position: absolute;
    right: 20px;
    font-family: icomoon;
    content: "\eecb";
    transition: all .3s linear 0s
}

.collapse-icon a[data-toggle=collapse]:after,
.collapse-icon a[data-toggle=collapse]:before {
    top: 0;
    margin-top: 0
}

html body .app-content.content {
    background-color: #F3F3F3!important
}

body.vertical-layout.vertical-menu.menu-collapsed .navbar .navbar-container {
    margin-left: 90px
}

body.vertical-layout.vertical-menu.menu-collapsed .navbar .navbar-brand {
    padding: 5px
}

body.vertical-layout.vertical-menu.menu-collapsed .navbar .navbar-header {
    float: left;
    width: 80px
}

html body.fixed-navbar {
    padding-top: 0
}

.header-navbar .navbar-container ul.nav li>a#menu-site-pub.nav-link {
    padding: 2rem .4rem!important
}

.header-navbar .navbar-container ul.nav li>a.nav-link.btn-hm {
    padding-top: 2.3rem!important;
    width: 100%;
    text-align: center;
    font-size: .8rem
}

.header-navbar .navbar-container ul.nav li i.ficon {
    font-size: .8rem
}

.header-navbar .navbar-header {
    padding: 0
}

.header-navbar .navbar-container ul.nav li>a.nav-link.btn-perfil {
    padding: 1.7rem 0 2rem!important
}

.header-navbar .navbar-container ul.nav li>a.nav-link {
    padding: 2.5rem .2rem .5rem!important
}

.header-navbar .navbar-header .navbar-brand {
    padding: 1rem 0;
    margin-right: 0
}

.header-navbar.menu-site-public .navbar-container ul.nav li>a.nav-link {
    padding: 0!important;
    margin-left: .5rem
}

@media (max-width:767px) {
    .header-navbar .navbar-header {
        padding: 1rem
    }
    .header-navbar .navbar-header .navbar-brand {
        padding: .5rem 0
    }
}

@media (min-width:1200px) {
    .header-navbar .navbar-container ul.nav li>a.nav-link.btn-hm {
        font-size: 1rem
    }
    .header-navbar .navbar-container ul.nav li i.ficon {
        font-size: 1.2rem
    }
    .header-navbar .navbar-container ul.nav li>a.nav-link.btn-perfil {
        padding: 1.7rem 1.7rem 2rem!important
    }
    .header-navbar .navbar-header .navbar-brand {
        padding: 1rem 5px;
        margin-right: 1rem
    }
    .header-navbar .navbar-header {
        width: 240px;
        padding: 0 1rem
    }
    .header-navbar .navbar-header .navbar-brand img {
        width: auto
    }
}

@media (max-width:767px) {
    #nav-site-pub,
    #navbar-mobile.navbar-toggleable-sm .navbar-nav .dropdown-menu {
        position: absolute
    }
    #nav-site-pub {
        width: 100%
    }
    #navbar-mobile.navbar-toggleable-sm .navbar-nav {
        float: none!important;
        clear: both;
        display: flex
    }
    #navbar-mobile.navbar-toggleable-sm .navbar-nav .nav-item {
        width: 20%
    }
    #navbar-mobile.navbar-toggleable-sm .navbar-nav .nav-item:last-child {
        width: 30%
    }
    #navbar-mobile.navbar-toggleable-sm .navbar-nav .nav-item:first-child {
        width: 30%;
        text-align: center
    }
    .header-navbar .navbar-container ul.nav li>a.nav-link {
        padding: .8rem .4rem!important
    }
    .header-navbar .navbar-container ul.nav li>a.nav-link.btn-hm {
        padding: .5rem!important;
        margin: 0 auto;
        font-size: 1rem!important
    }
    .header-navbar .navbar-container ul.nav li>a.nav-link.btn-hm i {
        margin-right: 1rem
    }
    .header-navbar .navbar-container ul.nav li>a.nav-link.btn-perfil {
        padding: 0!important
    }
    #nav-site-pub {
        display: block;
        top: 6rem;
        left: 0;
        z-index: 1000;
        padding: 0 1rem 1rem
    }
    #nav-site-pub .main-menu-content {
        margin-top: 0!important
    }
    #nav-site-pub .main-menu-content #main-menu-navigation {
        margin: 0;
        padding: 0
    }
    .header-navbar .navbar-container ul.nav li i.ficon {
        font-size: 1.2rem
    }
}

.menu-site-public {
    min-height: 1.5rem
}

.menu-site-public .main-menu-content {
    margin-top: -1rem!important;
    box-shadow: none!important
}

.mt-7 {
    margin-top: 2rem
}

.pt-7 {
    padding-top: 2rem
}

@media (max-width:767px) {
    .md-hm {
        width: 100%!important
    }
    .mt-7 {
        margin-top: 7rem!important
    }
    .pt-7 {
        padding-top: 7rem!important
    }
}

#nav-site-pub {
    display: none
}

.horizontal-menu.menu-collapsed #nav-site-pub #main-menu-navigation .nav-item a span {
    display: block!important
}

.authorization.collapse-icon a[data-toggle=collapse]:after,
.authorization.collapse-icon a[data-toggle=collapse]:before {
    top: 10px;
    right: 10px
}

.authorization.collapse-icon .card-header {
    padding-right: 25px!important
}

.modal-body .carg {
    margin: 2rem auto;
    width: 60px;
    color: #CDE1FF
}

.btn-outline-primary {
    color: #c6e4ec!important;
    border-color: #c6e4ec!important
}

.btn-outline-primary:hover {
    color: #fff!important;
    background-color: #c6e4ec!important;
    border-color: #c6e4ec!important
}

.btn-outline-primary {
    color: #c6e4ec;
    background-image: none;
    background-color: transparent;
    border-color: #c6e4ec; }
.btn-outline-primary:hover {
    color: #fff!important;
    background-color: #c6e4ec;
    border-color: #c6e4ec; }
.btn-outline-primary:focus, .btn-outline-primary.focus {
    color: #fff!important;
    background-color: #c6e4ec;
    border-color: #c6e4ec; }
.btn-outline-primary:active, .btn-outline-primary.active,
.open > .btn-outline-primary.dropdown-toggle {
    color: #fff!important;
    background-color: #c6e4ec;
    border-color: #c6e4ec; }
.btn-outline-primary:active:hover, .btn-outline-primary:active:focus, .btn-outline-primary:active.focus, .btn-outline-primary.active:hover, .btn-outline-primary.active:focus, .btn-outline-primary.active.focus,
.open > .btn-outline-primary.dropdown-toggle:hover,
.open > .btn-outline-primary.dropdown-toggle:focus,
.open > .btn-outline-primary.dropdown-toggle.focus {
    color: #fff!important;
    background-color: #b8e3ef;
    border-color: #b8e3ef; }
.btn-outline-primary.disabled:focus, .btn-outline-primary.disabled.focus, .btn-outline-primary:disabled:focus, .btn-outline-primary:disabled.focus {
    border-color: #dff0f5; }
.btn-outline-primary.disabled:hover, .btn-outline-primary:disabled:hover {
    border-color: #dff0f5; }


.bg-grey-light {
    background-color: #F3F3F3
}

footer.navbar-shadow {
    box-shadow: 0 -1px 1px 0 rgba(0, 0, 0, .15)!important
}

.cuadrosDisponibles {
    clear: both;
    margin-top: 1rem;
    padding: 0 0 0 3%;
    height: 50px
}

.cuadrosDisponibles li {
    display: inline-block;
    margin: 0 3% 0 0;
    color: #fff;
    padding: 1rem 0;
    font-family: dosisregular;
    font-size: 1em;
    width: 21.5%
}

@media (max-width:543px) {
    .cuadrosDisponibles {
        margin-top: .6rem;
        height: 45px
    }
    .cuadrosDisponibles li {
        font-size: .6em
    }
}

.cuadrosDisponibles li.last {
    margin: 0!important
}

.colorFuente {
    color: #485b83!important
}

.clndr .clndr-controls {
    color: #fff!important;
    font-size: 1.2em!important;
    text-transform: uppercase!important;
    font-family: dosisbold!important;
    text-align: center!important;
    padding: 1% 0!important;
    background-color: #485b83!important
}

#calendarCons .clndr-controls .clndr-previous-button {
    cursor: pointer;
    float: left;
    margin-left: 10px
}

#calendarCons .clndr-controls .clndr-previous-button:hover {
    background: #ddd
}

#calendarCons .clndr-controls .clndr-previous-button.inactive:hover {
    background: 0 0;
    cursor: default
}

#calendarCons .clndr-controls .clndr-next-button {
    cursor: pointer;
    float: right;
    margin-right: 10px
}

#calendarCons .clndr-controls .clndr-next-button:hover {
    background: #ddd
}

#calendarCons .clndr-controls .clndr-next-button.inactive:hover {
    background: 0 0;
    cursor: default
}

td.event,
td.inactive {
    background-color: #88A7D7
}

.calPhy td.event {
    background-color: #D14553;
    cursor: pointer
}

.modal-header p {
    font-family: dosisregular;
    font-size: 1.25em;
    text-transform: uppercase;
    color: #CDE1FF
}

td.today {
    background-color: #CDE1FF
}

.pacientesCalendario .tablaCalendario {
    font-size: .7em!important;
    background: #88a7d7
}

.tablaCalendario tr td.lilaOscuro {
    cursor: pointer
}

.tablaCalendario tr td.inactive {
    cursor: default
}

.pacientesCalendario .tablaCalendario tr td.lilaOscuro:hover {
    background: #cde1ff!important
}

.pacientesCalendario .tablaCalendario tr td.lilaOscuro:hover p {
    color: #45587e
}

.pacientesCalendario .calendarioEncabezado,
.pacientesCalendario .mesAno {
    font-size: .8em!important
}

.horario {
    width: 50%;
    display: inline-block;
    margin: 0
}

.horario .myselect {
    width: 100%;
    background-color: #cde1ff!important;
    color: #485b83;
    -webkit-appearance: none!important;
    -moz-appearance: none!important;
    appearance: none!important;
    border-radius: 0;
    padding: 3% 4%;
    height: 100%;
    background: url(../images/flechaSelect.png) 97% 45% no-repeat;
    outline: 0;
    font-family: dosisregular!important;
    font-size: .7em;
    text-transform: uppercase
}

.pacientesCalendario .tablaCalendario tr td.event:hover,
.pacientesCalendario .tablaCalendario tr td.inactive:hover {
    background-color: #88A7D7!important
}

.pacientesCalendario .tablaCalendario tr td.event:hover p,
.pacientesCalendario .tablaCalendario tr td.inactive:hover p {
    color: #fff!important
}

td.today.inactive {
    background-color: #CDE1FF
}

td.today.inactive a {
    color: #666
}

.pacientesCalendario .tablaCalendario tr td.today.inactive:hover {
    background-color: #c6e4ec!important
}

.pacientesCalendario .tablaCalendario tr td.today.inactive:hover p {
    color: #666!important
}

.calendarioDoctores {
    padding: 0 2%!important
}

.docCalendario {
    width: 90%
}

.docCalendario.dos {
    width: 75%
}

.tablaCalendario {
    font-family: dosismedium;
    color: #fff;
    font-size: 1.3em;
    text-transform: uppercase;
    width: 100%;
    background-color: #88a7d7;
    margin: 0 0 2.5%
}

.calendarioEncabezado,
.calendarioEncabezado p,
.mesAno p,
.tablaCalendario tr td p {
    margin: 0
}

.tablaCalendario.dos {
    font-size: .7em
}

.tablaCalendario tr td {
    vertical-align: middle;
    padding: .5% 1%
}

.sencillo {
    font-family: dosisregular;
    font-size: .9em
}

.noPadding {
    padding: 0!important
}

.calendarioEncabezado,
.mesAno {
    font-family: dosisbold;
    padding: 1% 0;
    text-align: center;
    text-transform: uppercase
}

.espacio {
    height: .3em
}

.disponible {
    background-color: #485b83
}

.noDisponible {
    background-color: #88a7d7
}

.curso {
    background-color: #cde1ff
}

.consulta {
    background-color: #d14553
}

.calendarioEncabezado {
    color: #fff;
    font-size: 1.2em;
    background-color: #485b83
}

.calendarioEncabezado.dos {
    font-size: .8em
}

.mesAno {
    color: #485b83;
    font-size: 1.2em;
    background-color: #cde1ff
}

.mesAno.dos {
    font-size: .8em
}

bootstrap.min.css {
    margin: 0 0 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

styles_exterior.css body {
    margin: 0;
    padding: 0;
    border: 0
}

user agent stylesheet p {
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0
}

div.calendarioEncabezado .pacientesCalendario .calendarioEncabezado {
    font-size: .8em!important
}

.lilaOscuro {
    background: #485b83
}

#full-clndr {
    width: 100%;
    background-color: #ebebeb;
    font-weight: 700;
    -moz-box-shadow: 0 4px 0 #343434;
    -webkit-box-shadow: 0 4px 0 #343434;
    box-shadow: 0 4px 0 #343434
}

#full-clndr .clndr-controls {
    padding: 14px;
    background-color: #414141;
    color: #fff;
    text-align: center
}

#full-clndr .clndr-controls .clndr-previous-button {
    float: left;
    text-align: left;
    margin-left: 20px
}

#full-clndr .clndr-controls .clndr-next-button {
    float: right;
    text-align: right;
    margin-right: 20px
}

#full-clndr .clndr-controls .clndr-next-button,
#full-clndr .clndr-controls .clndr-previous-button {
    width: 30px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none
}

#full-clndr .clndr-grid {
    width: 100%;
    border-right: 1px solid #fff;
    border-left: 1px solid #fff
}

#full-clndr .clndr-grid .days-of-the-week {
    width: 100%;
    background-color: #fff!important;
    color: #485b83!important
}

#full-clndr .clndr-grid .days-of-the-week .header-day {
    float: left;
    width: 14.2857%;
    padding: 14px;
    text-align: center;
    color: #485b83!important
}

#full-clndr .clndr-grid .days {
    width: 100%
}

#full-clndr .clndr-grid .days .day,
#full-clndr .clndr-grid .days .empty {
    float: left;
    width: 14.2857%;
    height: 66px;
    padding: 24px 0;
    text-align: center;
    color: #4f4f4f;
    background-color: #ebebeb;
    border-bottom: 2px solid #fff;
    background-image: url(http://kylestetz.github.io/CLNDR/css/./triangle.svg);
    background-size: cover;
    background-position: center
}

#full-clndr .clndr-grid .days .day .day-number {
    cursor: pointer!important;
    opacity: .3
}

#full-clndr .clndr-grid .days .day.event .day-number,
#full-clndr .clndr-grid .days .empty.event .day-number {
    padding-bottom: 4px;
    border-bottom: 2px solid #3883a3
}

#full-clndr .clndr-grid .days .day.adjacent-month .day-number,
#full-clndr .clndr-grid .days .empty.adjacent-month .day-number {
    opacity: .3
}

#full-clndr .event-listing {
    float: left;
    width: 35%
}

#full-clndr .event-listing .event-listing-title {
    padding: 14px;
    background-color: #71bbd2;
    text-align: center;
    color: #fff;
    letter-spacing: 1px
}

#full-clndr .event-listing .event-item {
    padding: 14px;
    color: #4f4f4f
}

#full-clndr .event-listing .event-item-location {
    font-weight: 400
}

#full-clndr .clndr-grid .days .day {
    background-color: #e7e7e8!important;
    background-image: none!important;
    border: 1px solid #fff;
    color: #4f4f4f!important
}

#full-clndr .clndr-grid .days .day.inactive {
    background-color: #e7e7e8!important;
    background-image: none!important;
    color: #4f4f4f!important
}

#full-clndr .clndr-grid .days .day.today {
    background-color: #c6e4ec!important;
    background-image: none!important;
    color: #4f4f4f!important
}

#full-clndr .clndr-grid .days .day.available {
    background-color: #aebfe3!important;
    background-image: none!important;
    border: 1px solid #fff;
    color: #fff
}

#full-clndr .clndr-grid .days .day.consulta {
    background-color: #ed253b!important;
    color: #fff!important
}

.bg-celeste {
    background-color: #c6e4ec!important
}

.bg-rojo {
    background-color: #ed253b!important
}

.bg-rojoo {
    background-color: #bc1f39!important
}

.bg-gris {
    background-color: #e7e7e8!important
}

.bg-griso {
    background-color: #878c89!important
}

.bg-lila {
    background-color: #aebfe3!important;
    border-color: #aebfe3!important
}

.bg-lilao {
    background-color: #485b83!important
}

.bg-verdeg {
    background-color: #5d7d83!important
}

.bg-azulo {
    background-color: #556789!important
}

.color-celeste {
    color: #c6e4ec!important
}

.color-rojo {
    color: #ed253b!important
}

.color-rojoo {
    color: #bc1f39!important
}

.color-gris {
    color: #e7e7e8!important
}

.color-griso {
    color: #878c89!important
}

.color-lila {
    color: #aebfe3!important
}

.color-lilao {
    color: #485b83!important
}

.color-verdeg {
    color: #5d7d83!important
}

.color-azulo {
    color: #556789
}

.tag-danger {
    background-color: #ed253b
}

.tag-info {
    background-color: #aebfe3
}

.avatar-online i,
.tag-success {
    background-color: #37BC9B
}

.avatar img {
    border-radius: initial!important
}

.btn-success.select-image-button,
.btn.btn-info.fileinput-button,
.modal-footer .btn.btn-success {
    border-color: #c6e4ec!important;
    background-color: #c6e4ec!important;
    color: #666;
    margin: 1rem
}

.modal-footer .btn {
    border-color: #c6e4ec!important;
    background-color: #c6e4ec!important;
    margin: 1rem
}

#image_upload_modal .modal-dialog {
    z-index: 10000;
    margin: 30px auto!important
}

@media (max-width:543px) {
    #image_upload_modal .modal-dialog {
        width: 300px!important;
        max-width: 100%
    }
}

@media (min-width:544px) {
    #image_upload_modal .modal-dialog {
        width: 420px!important;
        max-width: 100%
    }
    .cuestionarioForm .form-group .label-control.etiquetaCuestionario {
        text-align: right
    }
}

@media (min-width:768px) {
    #image_upload_modal .modal-dialog {
        width: 400px!important;
        max-width: 100%
    }
    .form-group>div.col-md-9,
    .form-group>table.col-md-9 {
        margin-left: 25%!important
    }
    .form-group>label+div.col-md-9 {
        margin-left: 0!important
    }
}

@media (min-width:992px) {
    #image_upload_modal .modal-dialog {
        width: 740px!important;
        max-width: 100%
    }
}

@media (min-width:1200px) {
    #image_upload_modal .modal-dialog {
        width: 850px!important;
        max-width: 100%
    }
}

#card-number-field,
#expiration-month,
#expiration-year {
    height: 33px!important
}

#expiration-month {
    width: 45px
}

#expiration-year {
    width: 60px
}

@media (min-width:1367px) {
    #card-number-field,
    #expiration-month,
    #expiration-year {
        height: 38px!important
    }
}

.form-group-wmb {
    margin-bottom: 0!important
}

.form-group-wmt {
    margin-top: -1.3rem!important
}

.form-group.col-lg-3.col-md-3 {
    clear: none!important
}

.form-group.col-lg-3.col-md-3 .col-md-3 {
    width: 40%!important
}

.form-group.col-lg-3.col-md-3 .col-md-9 {
    width: 60%!important
}

@media (max-width:544px) {
    .cuestionarioForm .form-group .label-control.etiquetaCuestionario {
        text-align: left
    }
}

@media (max-width:768px) {
    .dataOld .col-xs-10,
    .dataOld .col-xs-2,
    .f-mas .col-xs-10,
    .f-mas .col-xs-2,
    .f-mas-row .col-xs-10,
    .f-mas-row .col-xs-2 {
        padding: 0!important
    }
    .dataOld .elim,
    .f-mas-row .elim {
        padding: 5px!important;
        margin: 0 0 0 10px!important
    }
    .dataOld .col-xs-10 a,
    .f-mas .col-xs-10 .custom-file,
    .f-mas-row .col-xs-10 .form-group {
        margin-right: 10px;
        overflow: hidden;
        display: block
    }
    #accordionWrap,
    #listForm,
    #reportForm,
    #sharedForm {
        display: none
    }
}

@media (max-width:1024px) {
    .cuestionarioForm .form-group .label-control.etiquetaCuestionario {
        text-align: left
    }
    .form-group.col-lg-3.col-md-3 {
        clear: both!important;
        width: 100%!important
    }
    .form-group.col-lg-3.col-md-3 .col-md-3,
    .form-group.col-lg-3.col-md-3 .col-md-9 {
        width: 100%!important;
        padding: 0!important
    }
}

.align-right-btn,
.form-actions.right {
    text-align: right
}

.custom-file-control::after {
    content: 'Seleccione el archivo...'!important
}

.custom-file-control::before {
    content: 'Buscar'!important
}

.custom-file-control.changed::after {
    content: ''!important
}

.custom-file-control {
    overflow: hidden
}

.app-content .wizard.wizard-notification>.steps>ul>li.current .step {
    border: 2px solid #c6e4ec!important;
    background-color: #c6e4ec!important;
    color: #fff!important
}

.app-content .wizard.wizard-notification>.steps>ul>li.current .step:after {
    border-top-color: #c6e4ec!important
}

.app-content .wizard>.steps>ul>li.done .step {
    background-color: #aebfe3!important;
    border-color: #aebfe3!important;
    color: #fff
}

.app-content .wizard.wizard-notification>.steps>ul>li.done .step:after {
    border-top-color: #aebfe3!important
}

.app-content .wizard>.actions>ul>li>a,
.app-content .wizard>.actions>ul>li>a:hover {
    background-color: transparent!important;
    padding: 0!important
}

.app-content .wizard>.actions {
    z-index: 100;
    position: fixed!important;
    bottom: 40px
}

.app-content .wizard>.actions>ul {
    background-color: transparent!important;
    z-index: 100;
    position: absolute;
    right: 0;
    bottom: 0
}

@media (max-width:543px) {
    .app-content .wizard>.actions {
        width: 100%
    }
    .app-content .wizard>.actions>ul {
        background-color: transparent!important;
        z-index: 100;
        position: absolute;
        right: 50px;
        bottom: 0
    }
}

.custom-control-input:checked~.custom-control-indicator {
    color: #fff;
    background-color: #c6e4ec
}

.form-group {
    clear: both;
    zoom: 1
}

.form-group:after {
    content: "";
    clear: both;
    display: block
}

.form-group .col-md-9>div {
    margin-top: .5rem
}

.table.table-xs td,
.table.table-xs th {
    padding: .6rem .4rem
}

.cuesationarioCampo .table {
    width: 75%;
    max-width: 75%
}

.formFillConsView .form-control:disabled,
.formFillConsView .form-control[readonly] {
    background-color: transparent!important;
    opacity: 1!important;
    border: 0!important
}

.formFillConsView .table tr:first-child td {
    text-transform: uppercase;
    font-weight: 700
}

.align-right-btn {
    float: right;
    margin-right: 20px
}

.historial_m_dico .cuesationarioCampo .table {
    width: 100%;
    max-width: 100%
}

.h-90 {
    height: 90px
}

#fos_user_registration_form_plainPassword_first,
#fos_user_registration_form_plainPassword_second {
    display: block;
    width: 100%;
    padding: .5rem .75rem;
    font-size: 1rem;
    line-height: 1.25;
    color: #55595c;
    background-color: #fff;
    background-image: none;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: .18rem;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s
}

#fos_user_registration_form_plainPassword_second,
form #fos_user_registration_form_plainPassword_first {
    border: 1px solid #d4d4d4;
    color: #5a5a5a
}

.p-1px {
    padding: 10px
}

.g-recaptcha>div {
    margin: 0 auto!important
}

.form-actions {
    border-top: 1px solid #dadada;
    padding: 20px 0;
    margin-top: 20px
}

.btn-outline-primary.active,
.btn-outline-primary:active,
.open>.btn-outline-primary.dropdown-toggle {
    color: #fff!important;
    background-color: #c6e4ec!important;
    border-color: #c6e4ec!important
}

.card-header .heading-elements .btn-group a.btn,
.card-header .heading-elements-toggle .btn-group a.btn {
    padding: .5rem 1rem
}

.card-header .heading-elements .btn-menu-shared i {
    color: #c6e4ec
}

.card-header .heading-elements .btn-menu-shared .active i,
.card-header .heading-elements .btn-menu-shared a:hover i {
    color: #fff
}

.card-header .heading-elements .btn-menu-shared .btn-sm {
    padding: .25rem .5rem
}

.actionTab,
.tablaComTres tr td,
.txtTab {
    vertical-align: middle!important;
    padding-left: 2%
}

@media (min-width:768px) {
    .table-responsive {
        display: table
    }
}

.card .card-title {
    text-transform: none
}

#full-clndr .clndr-grid .days .day.bg-lila-day {
    background-color: #aebfe3!important
}

.tableHours {
    width: 100%
}

h4.daySel {
    text-align: center;
    font-family: dosisregular;
    font-size: 1.2em;
    color: #485b83;
    margin: 0 0 5%;
    text-transform: uppercase
}

.actionTab,
.hourTab,
.txtTab {
    font-family: dosisregular;
    overflow: visible;
    text-transform: uppercase
}

.actionTab,
.hourTab,
.tablaComUno tr td,
.txtTab {
    font-size: 1em;
    height: 4em
}

.hourTab {
    color: #3c5b86;
    text-align: right;
    padding-right: 2%;
    position: relative
}

.hourTab span {
    position: absolute;
    top: -.4em;
    right: 1em;
    width: 50px
}

.actionTab,
.txtTab {
    margin-top: 1em;
    color: #FFF;
    text-align: center;
    border-top: 1px solid #858886;
    border-bottom: 1px solid #858886
}

.tablaComDos,
.tablaComUno {
    float: left;
    margin-top: 5px
}

.actionTab a,
.txtTaba a {
    color: #FFF!important
}

.celdaTres {
    background-color: #485B83!important;
    color: #fff!important
}

.tablaComDos,
.tablaComUno tr td {
    overflow: visible;
    font-family: dosisregular;
    color: #3c5b86;
    text-transform: uppercase
}

.tablaComUno {
    width: 10%;
    overflow: visible;
    position: relative
}

.tablaComUno tr td {
    text-align: right;
    padding-right: 10%;
    border-bottom: solid 1px #858886
}

.tablaComDos {
    width: 90%;
    font-size: 1em!important;
    line-height: 1em!important;
    text-align: center
}

.tablaComTres {
    width: 100%;
    overflow: hidden;
    border: 0
}

.tablaComDos tr td {
    border: 0
}

.tablaComTres tr td {
    margin-top: 1em;
    overflow: visible;
    position: relative;
    height: 4em;
    border-top: solid 1px #858886
}

.tablaComDos tr.wb td {
    border-top: 0 transparent!important
}

@media (max-width:992px) {
    tr.wb td {
        font-size: .6rem!important
    }
}

@media (max-width:426px) {
    tr.wb td {
        font-size: 1rem!important
    }
}

#itemError ul {
    padding-left: 0!important
}

#itemError ul li {
    list-style: none
}

.btn-group-sm>.btn,
.btn-sm {
    border-radius: .1rem
}

.calendar-med .card-header .heading-elements .btn-menu-shared .btn-primary,
.calendar-med .card-header .heading-elements .btn-menu-shared i {
    color: #666!important
}

.calendar-med .card-header .heading-elements .btn-menu-shared .btn-primary:hover {
    color: #c6e4ec!important;
    background-image: none;
    background-color: transparent;
    border-color: #c6e4ec
}

.calendar-med .card-header .heading-elements .btn-menu-shared .btn-primary:hover i {
    color: #c6e4ec!important
}

.dropdown-toggle::after {
    content: "\f078";font-family: "FontAwesome";    
}

.fonticon-container > .fonticon-wrap:hover {
    background-color: transparent;
    color: white; }

.scroll-example{ border:none;}


/*form edit phy --*/

.masBtn {
    width:15px;
    height:15px;
    background: url(../images/flecha.png) #485B83 center bottom no-repeat;
    margin:0 5px 0 0;
    display: inline-block;
}
.masBtn.opened {
    background: url(../images/flecha.png) #485B83 center top no-repeat;
}

table.table-createView > tbody > tr.trPage{ background:#DFE8F4!important;}

table.table-createView td:nth-child(2),table.table-createView td:nth-child(3) {
    text-align:center;
}

table.table-createView td, table.table-createView th {
    padding: 8px 10px;
    vertical-align: middle;
}
table.table-createView td.td-fieldset {
    padding-left: 20px!important;
    font-family: "dosisbold";
}
table.table-createView td.td-page {
    padding-left: 10px!important;
    text-transform: uppercase;
}

.marginTab_1{margin-left: 10px;}
.marginTab_2{margin-left: 20px;}
.marginTab_3{margin-left: 30px;}
.marginTab_4{margin-left: 40px;}
.td-field-0 { padding-left: 30px!important }
.td-group-0 { padding-left: 30px!important }
.td-group-1 { padding-left: 60px!important }
.td-field-1 { padding-left: 60px!important}
.td-field-2 { padding-left: 90px!important}
.td-group-2 { padding-left: 90px!important }
.td-field-3 { padding-left: 120px!important}
.td-group-3 { padding-left: 120px!important }
.td-field-4 { padding-left: 150px!important}
.td-group-4 { padding-left: 150px!important }
.td-field-5 { padding-left: 160px!important}
.td-group-5 { padding-left: 160px!important }
.td-field-6 { padding-left: 190px!important}
.td-group-6 { padding-left: 190px!important }
.td-field-7 { padding-left: 210px!important}
.td-group-7 { padding-left: 210px!important}

.formViewMedTablet .btn-primary {
    color: #fff;
    background-color: #485B83;
    border-color: #485B83;    
    width: 150px;
    height: 28px;
}
.formViewMedTablet .btn-primary:focus,
.formViewMedTablet .btn-primary:hover {   
    color: #fff!important;
    background-color: #6d86bb;
    border-color: #6d86bb;
}

.formViewMedTablet .btn-secondary {
    color: #666;
    background-color: #c6e4ec;
    border-color: #c6e4ec;    
    width: 150px;
    height: 28px;
}
.formViewMedTablet .btn-secondary:focus,
.formViewMedTablet .btn-secondary:hover {
    background-color: #E6F3F7;
    border-color: #E6F3F7;   
}

.wrapper-pl{
    height: 30px;
}

#preloader_1{
    position:relative;
    margin:20px auto;
    width: 45px;
}
#preloader_1 span{
    display:block;
    bottom:0px;
    width: 9px;
    height: 5px;
    background:#c6e4ec;
    position:absolute;
    animation: preloader_1 1.5s  infinite ease-in-out;
}

#preloader_1 span:nth-child(2){
    left:11px;
    animation-delay: .2s;

}
#preloader_1 span:nth-child(3){
    left:22px;
    animation-delay: .4s;
}
#preloader_1 span:nth-child(4){
    left:33px;
    animation-delay: .6s;
}
#preloader_1 span:nth-child(5){
    left:44px;
    animation-delay: .8s;
}
@keyframes preloader_1 {
    0% {height:5px;transform:translateY(0px);background:#E6F3F7;}
    25% {height:30px;transform:translateY(15px);background:#E6F3F7;}
    50% {height:5px;transform:translateY(0px);background:#E6F3F7;}
    100% {height:5px;transform:translateY(0px);background:#E6F3F7;}
}

/* -- form edit phy*/

